*{
    margin: 0;
    font-family: monospace;
    
}

nav{
display: flex;
justify-content: space-between;
background-color: #d684d1;
padding: 20px 40px;
font-size: 20px;
color: white;


}

nav p{
    font-size: 30px;
}
nav ul{
    display: flex;
    gap: 15px;
    font-weight: bold; 
    font-size: 30px;
    
    
}

nav li{
    list-style: none;
    
   
}

nav li:hover{
    color: blueviolet;
    cursor: pointer;
}

.text {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    margin-top: 50px;
    margin-right:100px;
    margin-left: 100px;
}

.text p{
    margin-top: 200px;
    font-size: 60px;
    color: #d684d1;
    font-weight: bold;
    
}

.mainFooter{
  display: flex;
  padding: 20px;
  background-color: #d684d1;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.mainFooter p{
   font-size: 20px;
   margin-left: 850px;
   margin-top: 20px;
   color: white;
   font-weight: bold;
}